/* src/components/Layout/Search.css */
.results-container {
  margin-top: 20px;
}

.movie-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 10px; /* Space between the cards */
  border: 1px solid #ccc;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  width: 90%; /* Adjust the width of the cards */
  box-sizing: border-box; /* Include padding and border in the total size */
}

.movie-result:hover {
  background-color: #f0f0f0;
}

.movie-poster {
  width: 350px;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area without distortion */
  margin-bottom: 10px; /* Space between the image and the text */
}

.movie-info h4 {
  margin: 0;
  text-align: center;
}

.movie-info p {
  margin: 5px 0;
  text-align: center;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Ensures the content is centered vertically */
  text-align: center;
}

.search-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-page form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px; /* Space between the input and the button */
}

.search-page form button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-page form button:hover {
  background-color: #555;
}
