/* src/components/Movies/DetailsMovieDetail.css */
.card {
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjusted to be less intense */
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  width: 80%; /* Adjusted to be more responsive */
  max-width: 1500px; /* Max width to ensure responsiveness */
  height: auto; /* Adjust height to fit content */
}

.poster-container {
  width: 50%;
  height: 100%;
}

.movie-poster-detail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-container {
  padding: 20px;
  text-align: left;
  flex-grow: 1;
}

.details-container h1 {
  font-size: 24px;
}

.details-container p {
  margin: 5px 0;
  font-size: 16px;
}
