.card {
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  width: 800px; /* ajustar según sea necesario */
  height: 500px; /* ajustar según sea necesario */
}

.poster-container {
  width: 50%;
  height: 100%; /* asegura que el contenedor del póster ocupe toda la altura de la tarjeta */
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover; /* esto asegura que la imagen cubra completamente el área sin distorsionarse */
}

.details-container {
  padding: 20px;
  text-align: left;
  flex-grow: 1;
}

.details-container h1 {
  font-size: 24px;
}

.details-container p {
  margin: 5px 0;
  font-size: 16px;
}