.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Estilos del body */
body {
  background-color: black; /* Color de fondo */
  color: #ff410a; /* Texto en color */
  font-family: Arial, sans-serif; /* Tipografía genérica */
  font-weight: 800;
  margin: 0; /* Eliminar márgenes por defecto */
  height: 100%; /* Asegura que el body ocupe toda la altura */
}

html, body, #root {
  height: 100%;
}

a {
  color: orange;
  text-decoration: none; 
}

a:hover {
  color: darkorange; /* Cambio sutil en el color al pasar el ratón */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.lists-page {
  padding: 20px;
  margin: auto;
  max-width: 800px; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search-page-content {
  flex: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
